dask~=2021.4.0
numpy~=1.21.4
pandas~=1.2.4
xarray~=0.18.2
scipy~=1.7.2
clisops~=0.6.5
matplotlib~=3.4.1
rioxarray~=0.3.1
simplejson~=3.17.2
xesmf~=0.5.3
descartes~=1.1.0
sklearn~=0.0
scikit-learn~=0.24.1
xclim~=0.25.0
cdsapi~=0.5.1
streamlit~=0.82.0
sphinx~=4.2.0
pint~=0.18
boltons~=20.2.1
packaging~=21.0
pathlib~=1.0.1
yaml~=0.2.5
pyyaml~=5.4.1
cftime~=1.4.1
jsonpickle~=2.0.0
numba~=0.53.1
click~=7.1.2
pytest~=6.2.5
geopandas~=0.9.0
yamale~=4.0.1
setuptools~=58.5.3
